
.slideTransition {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
    &__hidden{
      opacity: 0;
      transform: translateX(100%);
    }
}

@keyframes hidden {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}