@import '../../styles/variables.scss';

.faqs{
    padding: 0.5rem 1rem ;
    margin: 0 2rem 1rem 2rem;
    border-bottom: $font-color-light 0.01rem solid;
    & h2 {
    }
    & p{
        transition: opacity 3s ease;
        width: 100%;
    }
    &:hover button{
        background: $color-primary !important;
    }

}

@media screen and (min-width: 768px){
    .faqs{
        & p{
            width: 99%;
        }
        }    
}