@import '../../styles/variables.scss';

.faqs{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem 0.5rem;
    z-index: 0;
    cursor: pointer;
    & h2{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & i{
            font-size: 1rem;
        }
    }
    & p{
        transition: opacity 3s ease;
        margin: 1rem 0 0 0;
        padding: 0.5rem 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .faqs{
        & p{
            width: 99%;
        }
        }    
}