@import './variables.scss';

.posts{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    &__images{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;

        &__thumbnail{
            position: relative;
            width: 250px;
            margin: 0.5rem;
        }
        &__img{
            cursor: pointer;
            border-radius: 0.7rem;
        }
    }
    &__contents{
        &__social{
            width: $width-general;
            overflow: auto;
            margin: 0 auto;
            box-shadow: 0 4px 30px rgba(192, 192, 192, 0.5);
            backdrop-filter: blur(7.5px);
            -webkit-backdrop-filter: blur(7.5px);
            border: 1px solid #a5a4a44d;
            cursor: pointer;
            font-weight: 700;
            & select{
            font-weight: bold;
            text-align: center;
            background: none;
            border: none;
            opacity: 0.8;
            }
        }}

}

//* Media Queries

@media screen and (min-width: 720px) {
    .posts{
        &__images{
            width: 532px;
        }
        &__contents{
            &__social{
                width: 50%;
            }}
    }
  }
  
  @media screen and (min-width: 1024px) {
  }