@import './variables.scss';

.footer{
  width: 100%;
  background: $font-color;
  color: $color-white;
  font-size: 1.2rem;
  padding: 1rem 0;
  margin: 0;
  opacity: 0.4;
  & a:hover{
    color: $color-krea;
  }
}

//* Media Queries

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 1024px) {

}
