@use 'reset.scss';
@use 'fonts.scss';
@use './icon.scss';
@use './button.scss';
@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'fontGeneral', sans-serif;
  white-space: pre-line;
  overflow-x: hidden !important; 
}
h1,h2,h3,h4,h5,h6{
  font-family: 'fontTitle', sans-serif;
}
h1{
  font-size: $font-size-large;
}
h2{
  font-size: $font-size-medium;
  margin: 0 0 1rem 0;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // box-shadow: 0 0 0 3px red !important;
}

p{
  width: 90%;
  margin: 0 0 0.5rem 0;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

main{
  min-height: 80vh;
  width: 90%;
  margin: 0 auto;
}
footer{
  min-height: 10vh;
  background: $color-secondary;
}
section{
  margin: 5% 0;
}


//* Form
input,
textarea{
  border: none;
  border-bottom: 0.5px solid $font-color;
  font-size: $font-size;
  font-family: $font-primary;
  width: 100%;
  padding: 0.5rem;
  background: none;
  &:focus{
    outline: none;
    background: none;
  }
  &:active{
    background: none;
  }
  &::placeholder{
    color: $font-color;
    opacity: 0.5;
  }
}
input:-webkit-autofill{
  background: #fff;
}
select{
  width: 100%;
  border: 0.5px solid $font-color;
  font-size: $font-size;
  font-family: $font-primary;
  border-radius: $border-radius;
  color: $font-color;
  background: none;
  padding: 0.5rem;
  &:focus{
    outline: none;
  }
}
.button{

  padding: 0.5rem;
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: $font-primary;
  background: $color-primary;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  &:hover{
  color: $font-color;
  }
  &:focus{
    outline: none;
  }
}
.none{
  display: none;
}
iframe {
  max-width: 100%;
}
.block{
  display: block;
  animation: opacity 0.5s ease 0s;
}
@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.w-50{
  width: 50%;
}
.h-30{
  height: 25vh;
}
.m-center{
  margin: 0 auto;
}
.relative{
  position: relative;
}

.transition{
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white-opacity;
  z-index: 10;
  backdrop-filter: blur(10px);
  opacity: 0;
  animation: transition 0.5s ease 0s;
}
.absoluteTitle{
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-white-opacity;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes transition{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.notCopie{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
strong{
  font-weight: bold;
}

@media screen and (min-width: 640px) {


  h2.faq-question, p.faq-answer{
    width: 100%;
  }
  h2.title__faqs{
    width: 100%;
    margin: 1rem 0 ;
  }
  
}
