@import './variables.scss';

.home{
  &__imagesFull{
    background-color: $color-primary;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
      &__image {
        padding: 1rem;
        width: 50%;
        & img{
          border-radius: 100%;
        }
      }
      &__text{
        padding: 1rem;
        width: 50%;
        & h2{
          font-weight: $font-size-bold;
          margin: 1rem 0;
        }
      }
      
    }
  &__list{
    background: $color-primary;
    & ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-self: center;
    }
    & li{
      list-style: none;
      margin: 0;
      width: 30%;
      padding: 1rem;
      & strong{
        display: block;
      }
    }
    & h2 {
    width: 100%;
  }
  }

  &__testimonials{
    padding: 1rem;
    border: $font-color-opacity 1px solid;
    margin: 1rem auto;
    width: 90%;
    & h2{
      margin: 1rem 0;
    }
    & h3{
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    & h4{
      font-size: 1rem;
      margin: 0.5rem 0;
    }
    & p{
      font-size: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: $font-color-opacity 1px solid;
    }
    a {
      &:hover{
        color: $color-primary;
      }
    }
  }
  &__category{
    margin: 1rem 0;
    &__title{
      & a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
          color: $font-color;
        }
        & span {
          white-space: nowrap;
        }
        
      }
    }

  }
  &__contact{
    width: 90%;
    margin: 0 auto;
    & h2 {
      font-size: var(--font-size-large);
      font-weight: $font-size-bold;
      margin: 1rem !important;
  }
    & a{
      color: $color-link;
      &:hover{
        color: $font-color;
      }
    }
    & button a{
      color: $color-white ;
      &:hover{
        color: $font-color;
      }
    }
  }
  
}

@media screen and (max-width: 768px){
  .home{
      & ul{
      & li{
        width: 100%;
      }
    }
    &__list{
      &__item{
        width: 100%;
        margin: 1rem 0;
      }
    }
    &__imagesFull{
      &__image {
        width: 100%;
      }
        &__text{
          width: 100%;
        }
    }
    &__faq{
      width: 90%;
      margin: 0 auto;
    }
  }
}

