@import './variables.scss';
@font-face {
  font-family: 'iconTheneauM';
  src: url('../asset/font/icon/iconTheneauM.woff2') format('woff2'),
    url('../asset/font/icon/iconTheneauM.woff?7bufwb') format('woff'),
    url('../asset/font/icon/iconTheneauM.ttf?7bufwb') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconTheneauM' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
}
.icon-navbar:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e906";
}


.icon-signature:before {
  content: "\e999";
}
.icon-paper-plane:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e94c";
}

//* Message error
.icon-change:before {
  opacity: 0.5;
  content: "\e903";
}
.icon-confirmation:before {
  color: $color-green;
  content: "\e904";
}
.icon-error:before {
  color: $color-red;
  content: "\e905";
}

.icon-close:before {
  color: $font-color;
  opacity: 0.8;
  content: "\e905";

}
.icon-close-white:before {
  content: "\e905";
  color: $color-white;
  text-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}  