@import './variables.scss';

.page{
  width: 90%;
  margin: 1rem auto 0 auto;
  &__contents{
  width: 90%;
    display: flex;
    flex-direction: column;
    & h1, h2, h4, h5, h6{
      padding: 1rem 0;
    }
    & select{
      width: 70%;
      margin: 1rem auto;
    }
    & li{
      width: 90%;
      margin: 1rem 0 0 0;
    }
  }
  &__image{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $color-white-opacity;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & a{
    font-weight: bold;
  }
  &__table{
    width: 100%;
    margin: 1rem auto;
    & tr{
      border: $font-color-opacity 1px solid;
      & th{
        font-weight: bold;
      }
      & td{
        border: $font-color-opacity 1px solid;
        padding: 0.5rem;
      }
    }


  }
  & img{
    max-width: 1080px;
    max-height: 608px;
    
  }
}
.home{
  & h2{
    font-size: calc(1rem + ((2vw - 0.48rem) * 1.3889));
    margin: 1rem 0;
  }
  & h3{
    font-size: 2vw;
    margin: 1rem 0;
  }
  &__imagesFull{
    position: relative;
    height: 100%;
    width: 100%;
    &__image{
      object-position: 0 var(--topImg);
      object-fit: cover;
      contain: initial;
      height: 100%;
      min-height: 25vh;
      width: 100%;
      opacity: 0.4;
      filter: blur(0.3rem);
    }
    &__text{
      position: absolute;
      top: 50%;
      width: 100%;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%, -50%);
      & h1{
        font-size: calc(1rem + ((4vw - 0.48rem) * 1.3889));
        margin: 1rem 0;
      }
      & p{

        font-size: 1rem;
        width: 80%;
      }
    }
    
    

  }
  &__faq{
    width: 50%;
    margin: 0 auto;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 0 1rem 0;
    background: $color-primary;
    &__item{
      list-style: disc;
      width: 100%;
      margin: 1rem 0 1rem 3rem;
      &__image{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    
    & h2 {
    width: 100%;
  }
  }
  &__testimonials{
    padding: 1rem;
    border: $font-color-opacity 1px solid;
    margin: 1rem auto;
    width: 90%;
    & h2{
      font-size: calc(70% + 3vw);
      margin: 1rem 0;
    }
    & h3{
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    & h4{
      font-size: 1rem;
      margin: 0.5rem 0;
    }
    & p{
      font-size: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: $font-color-opacity 1px solid;
    }
    a {
      &:hover{
        color: $color-primary;
      }
    }
  }
  &__category{
    margin: 1rem 0;
    &__title{
      padding: 1rem;
      & h2{
        font-size: calc(70% + 2vw);
      }
      & a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
          color: $font-color;
        }
        
      }
    }

  }
  &__contact{
    width: 90%;
    margin: 0 auto;
    & a{
      color: $color-primary;
      &:hover{
        color: $font-color;
      }
    }
    & button a{
      color: $color-white ;
      &:hover{
        color: $font-color;
      }
    }
  }
  
}

@media screen and (max-width: 768px){
  .page{
    &__image{
    width: 50%;
    margin: 0 auto;
    }
    &__contact{
      display: flex;
      &__block{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &__contents{
      &__paragraph{
        float: left;
        & img{
          padding: 0 1rem 0 0; 
        }
      }
    }
  }
  
  .home{
    &__imagesFull{
      &__image{
        object-position: 0 var(--topImg);
        object-fit: cover;
        contain: initial;
        height: 100%;
        min-height: 50vh;
      }
      &__text{
        & h1{
          font-size: calc(1rem + ((4vw - 0.48rem) * 1.3889));
          margin: 0;
        }
        & h2{
          font-size: calc(1rem + ((2vw - 0.48rem) * 1.3889));
        }
      }
    }
    &__faq{
      width: 90%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1020px){
  .pages{
    &__contents{
      &__paragraph{
        float: left;
        & img{
          padding: 0 0.5rem 0 0; 
        }
      }
    }
  }
}