@import './variables.scss';

.page{
  width: 90%;
  margin: 1rem auto;
  &__category{
    margin: 0.5rem 0;
  }
  &__contents{
    width: 90%;
    display: flex;
    flex-direction: column;
    &__paragraph{
      width: 100%;
      margin: 1rem auto;
      &__figure{
        margin: 0 1rem 0 0;
        float: left;
      }
      &__links{
        background: $color-link-opacity;
        padding: 1rem;
        margin: 1rem 0;
        color: $color-link;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        & a{
          color: $font-color;
          &:hover{
            color: $color-primary;
          }
        }
      }

      & p{
        width: 100%;
      }
    }

    & h1, h2, h4, h5, h6{
      padding: 1rem 0;
    }
    & select{
      width: 70%;
      margin: 1rem auto;
    }
    & li{
      margin: 0;
      list-style: disc;
      margin: 0 2rem 0 1rem;
      & p{
        margin: 0;
      }
    }
  }
  &__image{
    display: flex;

  }
  & a{
    font-weight: bold;
  }


}
.home{
  & h2{
    font-size: calc(1rem + ((2vw - 0.48rem) * 1.3889));
    margin: 1rem 0;
  }
  & h3{
    margin: 1rem 0;
  }
  &__imagesFull{
    position: relative;
    height: 100%;
    width: 100%;
    &__image{
      object-position: 0 var(--topImg);
      object-fit: cover;
      contain: initial;
      height: 100%;
      min-height: 25vh;
      max-width: 100%;
      width: 100%;
      opacity: 0.4;
      filter: blur(0.3rem);
    }
    &__text{
      position: absolute;
      top: 50%;
      width: 100%;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%, -50%);
      & h1{
        font-size: calc(1rem + ((4vw - 0.48rem) * 1.3889));
        margin: 1rem 0;
      }
      & p{

        font-size: 1rem;
        width: 80%;
      }
    }
    
    

  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 0 1rem 0;
    &__item{
      border: $border;
      width: 30%;
      color: $color-white;
      padding: 1rem;
        & span{
          font-weight: bold ;
          padding: 1rem 0;
        }
        & a{
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          align-content: center;
          justify-content: space-around;
          text-align: center;

          &:hover{
            color: $color-primary;
            & img{
              transform: translateX(1rem) rotate(-10deg) scale(1.1);
            }
        }
        }
      
      &__image{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    
    & h2 {
    width: 100%;
  }
  }
  &__testimonials{
    padding: 1rem;
    border: $font-color-opacity 1px solid;
    margin: 1rem auto;
    width: 90%;
    & h2{
      font-size: calc(70% + 3vw);
      margin: 1rem 0;
    }
    & h3{
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    & h4{
      font-size: 1rem;
      margin: 0.5rem 0;
    }
    & p{
      font-size: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: $font-color-opacity 1px solid;
    }
    a {
      &:hover{
        color: $color-primary;
      }
    }
  }
  &__category{
    margin: 1rem 0;
    &__title{
      padding: 1rem;
      & h2{
        font-size: calc(70% + 2vw);
      }
      & a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
          color: $font-color;
        }
        
      }
    }

  }
  &__contact{
    width: 90%;
    margin: 0 auto;
    & h2 {
      font-size: $font-size-large;
      font-weight: $font-size-bold;
      margin: 1rem !important;
  }
    & a{
      color: $color-link;
      &:hover{
        color: $font-color;
      }
    }
    & button a{
      color: $color-white ;
      &:hover{
        color: $font-color;
      }
    }
  }
  
}
.search {
    background: $font-color-opacity;
    position: relative;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transform: scale(1);
    width: 50%;
    margin: 0 auto;
    display: flex;
    & input{
        border: none;
        border-radius: 0;
        color: $font-color;
        transition: all .2s;
        width: 90%;
        border-bottom: none !important;
        padding: 0.5rem;
        &:focus{
            padding: 1rem;
            font-weight: bold;
        }
        &::placeholder {
            color: $font-color !important;
        }
        &:focus:invalid {
            border-bottom: 1px solid $color-secondary;
        }
        &::-webkit-input-placeholder {
            color: $color-grey;
        }
    }
    & button{
        color: $font-color !important;
        font-size: 1rem;
        &:hover{
            color: $color-primary !important; 
            transform: scale(1.2) rotate(10deg);
        }

        
    }
    &__form{
        display: flex;
        width: 100%;
        
        &__list{
            position: absolute;
            background: $color-white;
            color: $font-color;
            width: 100%;
            padding: 1rem;
            & strong{
                font-size: 0.9rem;
                color: $color-primary;
            }
            & li{
                list-style: none;
                padding: 0.5rem;
                font-size: 1rem;
                &:hover{
                    background: $color-grey;
                    color: $color-white;
                }
            }
        }
    }
    .search {
      background: $font-color-opacity;
      position: relative;
      padding: 0.3rem;
      border-radius: 0.2rem;
      transform: scale(1);
      width: 50%;
      margin: 0 auto;
      display: flex;
      & input{
          border: none;
          border-radius: 0;
          color: $font-color;
          transition: all .2s;
          width: 90%;
          border-bottom: none !important;
          padding: 0.5rem;
          &:focus{
              padding: 1rem;
              font-weight: bold;
          }
          &::placeholder {
              color: $font-color !important;
          }
          &:focus:invalid {
              border-bottom: 1px solid $color-secondary;
          }
          &::-webkit-input-placeholder {
              color: $color-grey;
          }
      }
      & button{
          color: $font-color !important;
          font-size: 1rem;
          &:hover{
              color: $color-primary !important; 
              transform: scale(1.2) rotate(10deg);
          }
  
          
      }
      &__form{
          display: flex;
          width: 100%;
          
          &__list{
              position: absolute;
              background: $color-white;
              color: $font-color;
              width: 100%;
              padding: 1rem;
              & strong{
                  font-size: 0.9rem;
                  color: $color-primary;
              }
              & li{
                  list-style: none;
                  padding: 0.5rem;
                  font-size: 1rem;
                  &:hover{
                      background: $color-grey;
                      color: $color-white;
                  }
              }
          }
      }
  
  
  }
  @keyframes myAnimation {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(var(--focus-scale));
      }
    }
  
    @media screen and (max-width: 768px){
      .search{
          width: 100%;
      }
    }
}
@media screen and (max-width: 768px){
  .page{

    &__contact{
      display: flex;
      flex-direction: column;
      &__block{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &__contents{
      &__paragraph{
        &__figure{
          width: 100%;
        }
      }
    }

  }
  
  .home{
    &__list{
      &__item{
        width: 100%;
        margin: 1rem 0;
      }
    }
    &__imagesFull{
      &__image{
        object-position: 0 var(--topImg);
        object-fit: cover;
        contain: initial;
        height: 100%;
        min-height: 50vh;
      }
      &__text{
        & h1{
          font-size: calc(1rem + ((4vw - 0.48rem) * 1.3889));
          margin: 0;
        }
        & h2{
          font-size: calc(1rem + ((2vw - 0.48rem) * 1.3889));
        }
      }
    }
    &__faq{
      width: 90%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1020px){
  .pages{
    &__contents{
      &__paragraph{
        float: left;
        & img{
          padding: 0 0.5rem 0 0; 
        }
      }
    }
  }
}
