
/*--Colors--*/
$color-primary: #f5f6ec;
$color-primary-opacity: #cdb87f7c;
$color-primary-gradient: radial-gradient(circle at 32% 12%, rgba(229, 229, 229,0.05) 0%, rgba(229, 229, 229,0.05) 50%,rgba(101, 101, 101,0.05) 50%, rgba(101, 101, 101,0.05) 100%),radial-gradient(circle at 49% 59%, rgba(113, 113, 113,0.05) 0%, rgba(113, 113, 113,0.05) 50%,rgba(240, 240, 240,0.05) 50%, rgba(240, 240, 240,0.05) 100%),radial-gradient(circle at 16% 86%, rgba(118, 118, 118,0.05) 0%, rgba(118, 118, 118,0.05) 50%,rgba(207, 207, 207,0.05) 50%, rgba(207, 207, 207,0.05) 100%),linear-gradient(252deg, rgba(248,133,4, 0.31),rgba(170,143,67, 0.85));

$color-secondary: #725f49;

$color-krea: #d4dce7;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.87);

$color-blue: #8DA5E5;
$color-grey: rgb(126, 126, 126);
$color-error: #e22121;
$color-confirmation: #21e2a1;
$color-glass: rgba(255,255,255,0.1);
$color-link-opacity: #c6d5f363;
$color-link: #007bff;;

/*--Fonts--*/
$font-color: #0b0c0e;
$font-color-opacity: #d5d2caa1;
$font-color-light: #666769;


$font-primary: 'fontGeneral', sans-serif;
$font-secondary: 'fontTitle', sans-serif;
$font-size: 1rem;
$font-size-small: 0.825rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.2rem;
$font-size-bold: 900;

/*--Borders--*/
$border-radius: 0.2rem;
$border: $font-color-opacity 1px solid;
/*--Margins--*/
$width-general: 90%;
$width-general-720: 84%;
/*--Margins--*/
$width-responsive: 98%;
$width-desktop: 94%;


$paddin-card: 0.2rem;

/*--Shadow--*/
$text-shadow-white: 0 10px 20px rgba(160, 160, 160, 0.459);
$text-shadow-black: 0 4px 30px rgba(0, 0, 0, 0.18);
$box-shadow: 0 10px 20px rgba(160, 160, 160, 0.459);
