
@import '../../styles/variables.scss';


.category{
  display: flex;
  flex-wrap: wrap;
  & li{
    margin: 0 0.5rem 1.5rem 0;
    list-style-type: none;
    & a{
      &:hover{
        color: $font-color;
      }
  }
}
}