@import '../../styles/variables.scss';

.cookies{
    position: fixed;
    z-index: 1;
    padding: 0 1rem 1rem 1rem;
    bottom: 0;
    width: 100%;
    background-color: $color-primary;
    border-top: 0.2rem solid $font-color-light;
    box-shadow: 0px -20px 20px 100vh rgba(151, 151, 151, 0.4);
    &__choice{
        width: $width-desktop;
        margin: auto;
        &__table{
            font-size: var(--font-size-small);
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            font-weight: 900;
            & i{
                cursor: pointer;
                font-size: var(--font-size-small);
                
                text-shadow: $text-shadow-black;
            }
        }
    }
    & h2,
    & p{
        font-size: var(--font-size-small);
        text-align: center;
    }
    
    &__button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    & button{
        width: 20%;
        margin: 0.5rem 1rem 0 0rem;        
        padding: 0.5rem;
        font-size: var(--font-size-small);
    }
}



@media screen and (max-width: 720px){
    .cookies{
        &__choice{
            width: $width-desktop;
        }
        &__button{
            & button{
                width: 100%;
            }
        }
        & h2,
        & p{
            padding: 0;
            margin: 0;
        }
    }
}
@media screen and (min-width: 1020px){
    .modal{
        &_img{
            width: 50%;
            margin: 0 auto;
        }
    }
    .cookies{
        &__button{
            & button{
                width: 20%;
            }
        }
    }
}
