@import '../../styles/variables.scss';

.modal{
    max-width: 80%;
    position: fixed;
    width: 80%;
    margin:0 auto;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: $border-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    &__blur{
        position: fixed;
        top: 0;
        left: 0;
        width: 101%;
        height: 102%;
        backdrop-filter: blur(0.2rem);
        z-index: 1;
      }
    &__images{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(0.2rem);
        width: 100%;
        height: 100%;
        z-index: 1;
        &__relative{
            &__img{
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: $border-radius;
                max-width: $width-desktop;
                max-height: $width-desktop;
            }
            &__close{
                margin: auto;
                right: 1rem;
                top: 0;
                position: absolute;
            }
        }
    }
    & button{
        display: block;
    }
}
.cookies{
    position: fixed;
    padding: 1rem 0 2rem;
    bottom: 0;
    width: 100%;
    background-color: $color-primary;
    z-index: 2;
    line-height: 3rem;
    &__choice{
        width: $width-desktop;
        margin: auto;
        &__table{
            width: $width-desktop;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-weight: 900;
            margin: 0 0 1rem 0;
            & i{
                font-size: 2.5rem;
                cursor: pointer;
                text-shadow: $text-shadow-black;
            }
        }
        & button{
            width: 100%;
            font-size: $font-size-large;
            padding: 1rem 2rem;
            margin: 0 0 1rem 0;
            transition: all 0.3s easer-in-out; 
            &:hover{
                background-color: $color-primary;
                transform: scale(1.05);
            }
        }

    }

    & h2{
        margin: 0;
        padding: 0;
    }
    & span{
        font-size: 2.8rem;
        display: block;
    }
    &__button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & button{
            margin: 1rem ;        
            border-radius: $border-radius;
            border: none;
            font-size: 1.5rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.02);
            }
        }
    }
}


@media screen and (min-width: 720px){
    .cookies{
        &__choice{
            width: $width-desktop;
        }
        & p{
            font-size: $font-size-small;
        }
    }
}
@media screen and (min-width: 1020px){
    .modal{
        &_img{
            width: 50%;
            margin: 0 auto;
        }
    }
    .cookies{
        & p{
            font-size: $font-size-small;
        }
        &__button{
            & button{
                width: 20%;
            }
        }
    }
}
