@import '../../styles/variables.scss';

.contact{
    width: 100%;

    &__input{
        & input, textarea, select {
            width: 100%;
            border: 1px solid $font-color-light !important;
            border-radius: 12px;
            padding: 1rem 0.5rem;
            font-weight: bold;
            font-size: $font-size-small !important;
            margin: 1rem 0 0 0;
            &:focus{
                outline: none;
                border: 6px solid $color-primary !important;
                color: $font-color !important;
            }
        }
        &__chekbox{
            display: inline;
            & label{
                font-size: $font-size-small;
                font-weight: bold;
                margin: 0 1rem;
            }
            & input{
                width:$font-size-small;
                height: $font-size-small;
                margin: 1rem 0;
            }
        }
        & select {
            border: none;
        }
        &__error{
            color: $color-error;
            width: 100%;
            display: inline-block;
        }

    }

    &__label{
        font-size: 1rem;
        font-weight: bold;
        margin: 0 1rem;
        width: 100%;
    }
    & h3{
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem;
    }
}

//* Media Queries

@media screen and (min-width: 720px) {
    .contact{
        width: 100%;
        &__input{
            & input, textarea, select {
                width: 70%;
                font-size: $font-size-medium !important;
                border: 1px solid $font-color-light !important;
            }
        }

    }


}
  
@media screen and (min-width: 1024px) {
    .contact{

    }
}
  