@import '../../styles/variables.scss';

.footer{
  min-height: 10vh;
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 1rem;
    &--title{
      font-weight: 900;
      margin: 1rem 0 0 0;
    }

    & li{
      display: flex;
      & a{
        padding: 1rem 1rem 0rem 0rem;
        display: flex;
        align-items: center;
      }
      & i{
        margin-right: 0.5rem;
      }
    }
  }
  &__lower{
    border-top: solid 1px $color-white;
    margin: 1rem 0 0 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & p{
      display: inline-block;
      margin: 0;
      color: $font-color;
      padding: 0 1rem 0 0;
     
    }
    &__author{
      opacity: 0.8;
      margin: 1rem auto;
    }
  }
  & a{
    margin: 0.5rem;
    padding: 0.5rem;
    color: $font-color;
    &:hover{
      color: $color-link;
    }
  }


}

//* Media Queries

@media screen and (min-width: 600px) {
  .footer{
    &__links{
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1024px) {

}
