@import '../../styles/variables.scss';


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}
.card{
  margin: 0 1rem 1rem 0;
  list-style-type: none;
  width: 30%;
  background-color: $color-primary;
  border-radius: $border-radius;
  &__img{
    object-fit: cover;
    &:hover img{
      filter: blur(0.5px);
      opacity: 0.8;
    }
    & img{
      transition: all .3s ;
      object-fit: cover;
      border-radius: $border-radius-img;
    }
  }
  &__content{
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    & h3{
      margin-bottom: 1rem;
      &:hover{
        text-decoration: none !important;
      }

    }
  }
}


@media screen and (max-width: 640px) {
  .card{
    width: 100%;
    margin: 1rem auto;
  }
}
